 /* general */
 *{  
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
html {
    background: linear-gradient(to right, #ae87d0 0%, #7851a9 100%);
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
body{
    height: 100%;
    display: grid;
    place-items: center;
}
.app{
    flex-direction: row;
}
.fereastra-chat {
    background: #E9D8F1;
    min-width: 800px;
    max-width: 1500px;
    max-height: 1500px;
    width: 100%;
    height: 95vh;
    border-radius: 10px;
    display: grid;
    grid: 
        'meniu setari' 71px 
        'culoare javascript' 1fr
        / 400px 2fr;
}
.meniu{
    color: #330066; 
    font-size: 20px;
    margin-top: 5px; 
    margin-left: 30px;
    margin-right: 10px; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
    text-align: center;
    grid-area: meniu;
}


/* toate conversatiile adminului, cele din partea stanga */
.lista-conversatii {
    background:#7851a9;
    grid-area: lista-conversatii;   
    overflow-y: scroll;
}/* adauga butonul de scroll */

.conversatie {
    color: #ddd;
    border-bottom: 1px solid #522d80;
    display: grid;
    grid-template-columns: 40px 1fr max-content;
    grid-gap: 10px;
    font-size: 1.3rem;
    padding: 20px 20px 20px 15px; 
    

}/* modifica la conversatii font scris, pozitie imagine etc */

.conversatie.activa{
    background: #522d80;

}

.conversatie:hover {
    background: #522d80;
    cursor: pointer;

}

.conversatie > img {
    height: 40px;
    width: 40px;
    grid-row: span 2;
    border-radius: 100%;
}


/* filtrarea conversatiilor */
.select{
    width:300px;
    margin-left: 30px ;
    
}

.culoare{
    grid-area: culoare;
    
}

.submit{
    background-color: #522d80;
    color: white;    
    border: 1px solid #ccc;
    border-radius: 4px;    
    padding: 7px 14px;
    margin-left: 10px ;
    box-sizing: border-box;
}
.button{
    background-color: #522d80;
    color: white;    
    border: 1px solid #ccc;
    border-radius: 4px;    
    padding: 7px 14px;
    margin-right: 10px ;
    box-sizing: border-box;
    
}


.text-culoare{
    color:rgb(33, 00, 66);
    font-size: 20px; 
    margin-top: 5px; 
    margin-left: 30px;
    margin-right: 10px;
    text-align:left;
}

/* conversatia activa */
.setari > img {
    cursor: pointer;
}
.setari {
    color: #330066;
    background: #C2B0D9;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    display: grid;
    grid-area: setari;
    align-content: center;
    align-items: center;
    grid: 36px / 1fr 36px;
    font-weight: bold;
    font-size: 2.0rem;
    border-radius: 0 10px 0 0;
    padding: 0 20px;

}

.lista-mesajelor {
    grid-area: lista-mesajelor;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}
.textul-mesajului {
    padding: 9px 14px;
    margin-bottom: 5px;
    font-size:1.6rem;
}/*textul din mesajul trimis de celalat*/

.ora-mesajului {
    color: #777;
    font-size: 1.3rem;
    margin-right: 20px;
}/*ora la care a fost trimis mesajul din chat*/


/* mesajele din dreapta, ale adminului */
.javascript {
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns:70%;
    display: grid;
    background: #522d80;
    color: #eee;
    border: 1px solid #330066;
    border-radius: 14px 14px 0 14px;
    overflow-y: scroll;
    font-size: 20px;
    padding-top: 10px;
}



/* mesajele din stanga, ale clientului */
.mesajul-clientului {
    margin-bottom: 20px;
    justify-items: start;
    display: grid;
    grid-template-columns:70%;
}

.mesajul-clientului .continutul-mesajului {
    grid-template-columns: 48px 1fr;
    grid-column-gap: 15px;
    display: grid;

}/* le aranjeaza in ordine pe coloane*/

.mesajul-clientului .textul-mesajului {
    color: #111;
    background: #c9a0dc;
    border: 1px solid #ae87d0;
    margin-top: 10px;
    border-radius: 14px 14px 14px 0;
} /* pentru mesajeul trimis de celalalt: forma din spate*/


.mesajul-clientului img {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 100%;
    grid-row: span 2;
}
/*imaginea din conversatie sa fie in forma de cerc*/


