body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	margin: 0;
	padding: 8px 16px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #1f1d26;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #5235a1;
	border-radius: 4px;
}

p {
	margin: 0;
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1280px) {
}

.general-button {
	height: 32px;
	min-width: 72px;
	border: none;
	border-radius: 4px;
	background-color: #5235a1;
	color: #e9e4f7;
	cursor: pointer;
}

.chat-wrapper {
	background-color: #d9d3f2;
	min-height: 80vh;
	height: 80vh;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 1280px;
}

.messages-wrapper {
	padding: 8px;
	overflow: auto;
}

.single-message-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
}

.message-avatar {
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

.text-wrapper {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-self: flex-end;
	align-items: flex-end;
}

.admin {
	flex-direction: row;
	align-self: flex-start;
}

.message {
	background-color: #674cb5;
	text-align: right;
	padding: 6px;
	border-radius: 8px 8px 0 8px;
	color: #e9e4f7;
	margin: 8px;
	list-style-type: none;
}

.admin-message {
	background-color: #baabe6;
	text-align: left;
	border-radius: 8px 8px 8px 0;
	color: #1f1d26;
}

.message-timestamp {
	display: inline-block;
	margin-top: 8px;
	opacity: 75%;
}

.message-input-wrapper {
	margin: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
}

#message-input {
	width: 100%;
	height: 32px;
	border: none;
	border-radius: 4px;
	padding: 0 8px;
	margin-right: 8px;
}

.invisible {
	display: none;
}

.visible {
	display: flex;
}
