ul {
	padding: 0;
	list-style-type: none;
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1280px) {
}

.chats-list-wrapper,
.settings-wrapper {
	display: none;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.75);
}

.chats-modal,
.settings-modal {
	background-color: #f5f5f5;
	width: 80%;
	border-radius: 4px;
	margin: 20% auto;
	padding: 20px;
	max-height: 60%;
	overflow: auto;
}

@media screen and (min-width: 768px) {
	.chats-modal {
		width: 60%;
		margin: 10% auto;
	}
}

@media screen and (min-width: 1024px) {
	.chats-modal {
		width: 50%;
	}
}

@media screen and (min-width: 1280px) {
	.chats-modal {
		width: 40%;
	}
}

@media screen and (min-width: 1440px) {
	.chats-modal {
		width: 30%;
		margin: 5% auto;
	}
}

.chat-entry {
	background-color: #282e5e;
	color: #e9e4f7;
	margin: 2px 0;
	cursor: pointer;
	border-radius: 2px;
}

.chat-entry:hover {
	background-color: #383e74;
}

.chat-entry-username {
	font-weight: bold;
}

.chat-entry-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 8px;
}

.chat-text-data {
	display: flex;
	flex-direction: column;
	width: 50%;
}

@media screen and (min-width: 600px) {
	.chat-text-data {
		width: 72%;
	}
}

.last-sent-message {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.chat-header {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	max-width: 1280px;
}

.chat-toolbar {
	margin-bottom: 8px;
}

.user-info {
	background-color: #2a1861;
	color: #e9e4f7;
	border-radius: 8px 8px 0 0;
	width: 100%;
}

.user-info.primary {
	background-color: #2a1861;
}

.user-info.secondary {
	background-color: #185661;
}

.user-info h4 {
	margin-left: 16px;
}

.chat-wrapper {
	background-color: #d9d3f2;
	min-height: 80vh;
	height: 80vh;
	border-radius: 0 0 8px 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 1280px;
}

.chat-wrapper.primary {
	background-color: #d9d3f2;
}

.chat-wrapper.secondary {
	background-color: #d3e9f2;
}

.messages-wrapper {
	padding: 8px;
	overflow: auto;
}

.single-message-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
}

.message-avatar {
	width: 48px;
	height: 48px;
	margin: 0 8px;
}

.message-avatar.circle {
	border-radius: 50%;
}
.message-avatar.square {
	border-radius: 4px;
}

.text-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-self: flex-start;
	align-items: flex-end;
}

.admin {
	flex-direction: row-reverse;
	align-self: flex-end;
}

.message {
	background-color: #baabe6;
	text-align: left;
	padding: 6px;
	border-radius: 8px 8px 8px 0;
	color: #1f1d26;
	margin: 8px;
}

.message.primary {
	background-color: #baabe6;
}

.message.secondary {
	background-color: #abd8e6;
}

.admin-message {
	background-color: #baabe6;
	text-align: right;
	border-radius: 8px 8px 0 8px;
	color: #e9e4f7;
}

.admin-message.primary {
	background-color: #674cb5;
}

.admin-message.secondary {
	background-color: #10797c;
}

.message-timestamp {
	display: inline-block;
	margin-top: 8px;
	opacity: 75%;
}

.message-input-wrapper {
	margin: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
}

.emoji-suggestion-button {
	width: 32px;
	height: 32px;
	position: absolute;
	bottom: 72px;
	left: 24px;
	border: none;
	border-radius: 10%;
	cursor: pointer;
	background-color: #3a3b39;
	color: #e9e4f7;
	display: none;
}

#position,
#avatars,
#theme {
	min-height: 24px;
	border-radius: 4px;
	border: 1px solid #c9c9c9;
}

.settings-option {
	margin-bottom: 8px;
}
