 /* general */
 *{  
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
html {
    background: linear-gradient(to right, #ae87d0 0%, #7851a9 100%);
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
body{
    height: 100%;
    display: grid;
    place-items: center;
}
.app{
    flex-direction: row;
}
.fereastra-chat {
    background: #E9D8F1;
    min-width: 800px;
    max-width: 1500px;
    max-height: 1500px;
    width: 100%;
    height: 95vh;
    border-radius: 10px;
    display: grid;
    grid: 
        'meniu numele-conversatiei' 71px 
        'lista-conversatii lista-mesajelor' 1fr
        'filtru trimite-mesaj' 78px
        / 400px 2fr;
}
.meniu{
    color: #330066; 
    font-size: 20px;
    margin-top: 5px; 
    margin-left: 30px;
    margin-right: 10px; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
    text-align: center;
    grid-area: meniu;
}








/* toate conversatiile adminului, cele din partea stanga */
.lista-conversatii {
    background:#7851a9;
    grid-area: lista-conversatii;   
    overflow-y: scroll;
}/* adauga butonul de scroll */

.conversatie {
    color: #ddd;
    border-bottom: 1px solid #522d80;
    display: grid;
    grid-template-columns: 40px 1fr max-content;
    grid-gap: 10px;
    font-size: 1.3rem;
    padding: 20px 20px 20px 15px; 
    

}/* modifica la conversatii font scris, pozitie imagine etc */

.conversatie.activa{
    background: #522d80;

}

.conversatie:hover {
    background: #522d80;
    cursor: pointer;

}

.conversatie > img {
    height: 40px;
    width: 40px;
    grid-row: span 2;
    border-radius: 100%;
}

/* datele unei conversatii */
.nume {
    color: #eee;
    font-weight: bold;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.data {
    color: #ddd;
    font-size: 1rem;
}
.ultimul-mesaj {
    padding-left: 5px;
    grid-column: span 2;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    
}








